<% provide(:title, @question.title ) %>
<p id="notice"><%= notice %></p>
<h4><%= @question.title %></h4>
<hr>
<div class="panel panel-info">
  <div class="panel-body">
    <%= @question.content %>
  </div>
  <div class="panel-footer clearfix">
    <% if user_signed_in? and current_user == @question.user  %>
    <span class="pull-left">
      <%= link_to 'Edit', edit_question_path(@question)%>&nbsp&nbsp
      <%= link_to 'Delete', @question,  method: :delete, data: { confirm: 'Are you sure?' } %>
    </span>
    <% end %>
    <span class="pull-right">
      Asked <%= time_ago_in_words(@question.created_at) %> ago<br>
        <%= image_tag @question.user.gravatar_url , width: 15 %>
        <%= link_to @question.user.email, @question.user %>
    </span>
  </div>
</div>
<br>

<p><big><%= @question.answers.count %>  Answers</big></p><hr>
<% @question.answers.each do |answer| %>
<div class="panel panel-info">
  <div class="panel-body">
    <%= answer.description %>
  </div>
  <div class="panel-footer clearfix">
    <% if user_signed_in? and current_user.id == answer.user_id  %>
    <span class="pull-leftt">
      <%= link_to 'Edit', edit_question_answer_path(answer.question, answer)%>&nbsp&nbsp
      <%= link_to 'Delete', question_answer_path(answer.question, answer), method: :delete, data: { confirm: 'Are you sure?' } %>
    </span>
    <% end %>
    <span class="pull-right">
      Answered <%= time_ago_in_words(answer.created_at) %><br>
        <%= image_tag User.find_by(id: answer.user_id).gravatar_url , width: 15 %>
        <%= link_to User.find_by(id: answer.user_id).email, User.find_by(id: answer.user_id) %> 
    </span>
  </div>
</div>
<% end %>
<hr>
  <%= will_paginate @question.answers.paginate(page: params[:page]) %>

<% if user_signed_in? %>
<p><big>Your Answer</big></p>
  <%= form_for [@question, @question.answers.build] do |f| %>
    <p><%= f.text_area :description, class: "form-control", rows: 5, placeholder: "Enter your answer..." %></p>
    <p><%= f.submit "Post your answer", class: "btn btn-primary", style: "width: auto"%> </p>
  <% end %>
<% else %>
  <span>Log in to answer</span> <%= link_to "Log in", new_user_session_path, class: "btn btn-primary" %>
<% end %>