<% provide(:title, @question.title ) %>
<p id="notice"><%= notice %></p>
<p>
    <h3><%= @question.title %></h3>
</p>
<div class="panel panel-info">
  <div class="panel-body">
    <%= @question.content %>
  </div>
  <div class="panel-footer">
    Posted by: <%= @question.user.email %>
  </div>
</div>

<%= link_to 'Back', questions_path, class: "btn btn-default" %>
<% if user_signed_in? and current_user == @question.user  %>
  <%= link_to 'Edit', edit_question_path(@question), class: "btn btn-primary" %>
  <%= link_to 'Delete', @question, class: "btn btn-danger", method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>

<h2>Answer List for this question</h2>
<div><strong><%= @question.answers.count %>  answers</strong></div>
<% @question.answers.each do |answer| %>
<div>
  <p><%= answer.description %></p>
  <%= time_ago_in_words answer.created_at %> ago |
  Posted by <%= answer.user_id %> |
  Vote:<%= answer.vote %>
</div>
<% end %>

<% if user_signed_in? %>
  <%= form_for [@question, @question.answers.build] do |f| %>
    <p><%= f.text_area :description, class: 'form-control'  %></p>
    <p><%= f.submit "Post answer", class: "btn btn-primary" %> </p>
<% end %>
  <% else %>
    <div>Sign in to answer:</div> <%= link_to "Log in", new_user_session_path, class: "btn btn-primary" %>
<% end %>