<% provide(:title, @question.title ) %>
<p id="notice"><%= notice %></p>
<h3><%= @question.title %></h3>
<div class="panel panel-info">
  <div class="panel-body">
    <%= @question.content %>
  </div>
  <div class="panel-footer">
    Asked by
        <%= image_tag @question.user.gravatar_url , width: 15 %><%= link_to @question.user.email, @question.user %> at <%= @question.created_at %>
    <% if user_signed_in? and current_user == @question.user  %>
    <hr>
      <%= link_to 'Edit', edit_question_path(@question)%>
      <%= link_to 'Delete', @question,  method: :delete, data: { confirm: 'Are you sure?' } %>
    <% end %>
  </div>
</div>

<%= link_to 'Back', questions_path, class: "btn btn-default" %>
<hr>
<h4><%= @question.answers.count %>  Answers</h4>
<hr>
<% @question.answers.each do |answer| %>
<div class="panel panel-info">
  <div class="panel-body">
    <%= answer.description %>
    <%= answer.id%>
  </div>
  <div class="panel-footer">
    Answered by 
        <%= image_tag User.find_by(id: answer.user_id).gravatar_url , width: 15 %><%= link_to User.find_by(id: answer.user_id).email, User.find_by(id: answer.user_id) %> at <%= answer.created_at %>
    <% if user_signed_in? and current_user.id == answer.user_id  %>
      <%= link_to '', edit_question_answer_path(answer.question, answer), title: 'Edit', rel: 'tootlip', class: "glyphicon glyphicon-pencil" %>
      <br>
      <%= link_to '', question_answer_path(answer.question, answer), title: 'Delete', rel: 'tooltip', class: "glyphicon glyphicon-remove", method: :delete, data: { confirm: 'Are you sure?' } %>
    <% end %>
  </div>
</div>
<% end %>
<hr>
  <%= will_paginate @question.answers.paginate(page: params[:page]) %>

<% if user_signed_in? %>
  <h4>Your Answer</h4>
  <%= form_for [@question, @question.answers.build] do |f| %>
    <p><%= f.text_area :description, class: "form-control" %></p>
    <p><%= f.submit "Post your answer", class: "btn btn-primary" %> </p>
  <% end %>
<% else %>
  <span>Log in to answer</span> <%= link_to "Log in", new_user_session_path, class: "btn btn-primary" %>
<% end %>