<% provide(:title, @question.title ) %>
<p id="notice"><%= notice %></p>
<p>
    <h3><%= @question.title %></h3>
</p>
<div class="panel panel-info">


<div class="panel-body">
  <%= @question.content %>
</div>
<div class="panel-footer">
  Posted by: <%= @question.user.email %>
</div>
</div>

<%= link_to 'Edit', edit_question_path(@question), class: "btn btn-primary" %>
<%= link_to 'Back', questions_path, class: "btn btn-default" %>
