<% provide(:title, @question.title ) %>
<p id="notice"><%= notice %></p>
<h4><%= @question.title %></h4>
<hr>
<div class="panel panel-info">
  <div class="panel-body">
    <%= @question.content %>
  </div>
</div>
<% if user_signed_in? and current_user.id == @question.user_id %>
  <%= link_to "Edit", edit_question_path(@question), class: "btn btn-primary" %>
  <%= link_to "Delete", question_path(@question), method: :delete, data: {confirm: 'Are you sure?'}, class: "btn btn-danger" %>
  <% end %>
<div class="area-author">
  Asked <%= time_ago_in_words(@question.created_at) %> ago<br>
  <%= image_tag @question.user.gravatar_url , width: 15 %>
  <%= link_to @question.user.email, @question.user %>
</div>
<br>

<p><big><%= @question.answers.count %>  answers</big></p><hr>
<% i = 0 %>
<% @question.answers.each do |answer| %>
<div class="panel panel-success">
  <div class="panel-heading">
    <%= answer.description %>
        <% if user_signed_in? and current_user.id == answer.user_id  %>
    <span>
      <%= link_to '', edit_question_answer_path(answer.question, answer), title: 'Edit', rel: 'tooltip', class: "glyphicon glyphicon-pencil"%>&nbsp&nbsp
      <%= link_to '', question_answer_path(answer.question, answer), title: 'Delete', rel: 'tooltip', class: "glyphicon glyphicon-remove", method: :delete, data: { confirm: 'Are you sure?' } %>
    </span>    
    <% end %>
    <span class="pull-right">#<%= i+1 %></span>
  </div>
</div>
<div class="area-author ">
  Answered <%= time_ago_in_words(answer.created_at) %><br>
  <%= image_tag User.find_by(id: answer.user_id).gravatar_url , width: 15 %>
  <%= link_to User.find_by(id: answer.user_id).email, User.find_by(id: answer.user_id) %> 
</div>
<% i = i+1 %>
<% if (i < @question.answers.count) %>
  <hr class="redesign">
  <% end %>
<% end %>
<% if @question.answers.count > 0 %>
<hr>
<% end %>
  <%= will_paginate @question.answers.paginate(page: params[:page]) %>

<% if user_signed_in? %>
<p><big>Your answer</big></p>
  <%= form_for [@question, @question.answers.build] do |f| %>
    <p><%= f.text_area :description, class: "form-control", rows: 5, placeholder: "Enter your answer..." %></p>
    <p><%= f.submit "Post your answer", class: "btn btn-primary", style: "width: auto"%> </p>
  <% end %>
<% else %>
  <span>Log in to answer</span> <%= link_to "Log in", new_user_session_path, class: "btn btn-primary" %>
<% end %>