<% provide(:title, @user.email) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= image_tag @user.gravatar_url , class: "gravatar", width: 100 %>
        <%= link_to @user.email, @user %>
        <span class="timestamp">
          joined at <%= time_ago_in_words(@user.created_at) %> ago
        </span>
        <% if current_user.id == @user.id %>
        <%= link_to " Edit profile", edit_user_registration_path %>
        <% end %>
      </h1>
    </section>
  </aside>
</div>
<div class="row">
  <div class="col-md-6">Your question list
    <hr>
    <% @user.questions.each do |question| %>
    <div class="col-md-12"><%= link_to question.title, question%>
    </div>
    <% end %>
    <!-- <%= will_paginate @user.questions.paginate(page: params[:page]) %> -->
    </div>
  <div class="col-md-6">Your answer list
    <hr>
    <% @user.answers.each do |answer| %>
    <div class="col-md-12"><%= link_to answer.question_id, answer.question %>
    </div>
    <% end %>
    <!-- <%= will_paginate @user.answers.paginate(page: params[:page]) %> -->
  </div>
</div>